body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align:center;
    height: 100px;
    font-size: 70px;
}

.content {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: gray;
    width: 200px;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.main-content {
    flex: 1;
    background-color: lightgray;
    padding: 20px;
    font-size: 24px;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}